#output {
    display: none;
    white-space: pre-line;
  }

.form-sauce {
  display: none;
}

.form-flavor {
  display: none;
}

.form-cheese-one {
  display: none;
}

.form-cheese-two {
  display: none;
}

.form-meat-one {
  display: none;
}

.form-meat-two {
  display: none;
}

.form-veggies-one {
  display: none;
}

.form-veggies-two {
  display: none;
}

.form-spice {
  display: none;
}

.form-dessing {
  display: none;
}

.form-newPizza {
  display: none;
}

.No {
  display: none;
}

.Clickable {
  cursor: pointer;
  color: #0088cc;
}

.Clickable:hover {
  text-decoration: underline;
}
